.PostBody {
  border: 2px solid steelblue;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
}

.PostInfo {
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.PostTitle {
  margin: 10px 0 15px;
}