.FullPost {
  border: 2px solid steelblue;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
}

.FullPostTitle {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5d5;
}

.FullPostCreatedDate {
  font-size: 14px;
  color: #888;
  margin: 7px 0 0;
}

.FullPostButtonBlock {
  margin-top: 40px;
}

.FullPostButtonBlock > button {
  width: 120px;
  margin-right: 20px;
}