.Button {
  padding: 7px 20px;
  background: none;
  border: none;
  border-radius: 5px;
  color: #eee;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.Button_blue {
  background-color: steelblue;
}

.Button_red {
  background-color: firebrick;
}

.Button_green {
  background-color: seagreen;
}

.Button_grey {
  background-color: dimgrey;
}