.AddPost {
  border: 2px solid steelblue;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
}

.BlockTitle {
  margin: 0 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5d5;
}

.FormRow label {
  color: #777;
  margin-left: 5px;
}

.FormRow input,
.FormRow textarea {
  width: 100%;
  border: 1px solid #e5e5e5;
  margin: 5px 0 20px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  color: #555;
}

.FormRow input {
  height: 36px;
}

.FormRow textarea {
  height: 120px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}