.MainNavBlock {
  background-color: #e5e5e5;
  margin-bottom: 30px;
}

.MainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.Logo {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  color: #222;
}

.NavMenuItem {
  margin-left: 20px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.NavMenuItem:first-child {
  margin-left: 0;
}

.active {
  color: steelblue;
}